@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

/* Colors  
white - #f9f9f9
Dark Green - #00302b
*/

body {
    font-family: 'Poppins', sans-serif;
    color: #f9f9f9;
}

h1,
h2,
h3 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 3.25em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}


.container-fluid {
    margin: 0;
}

.row {
    margin: 0;
}

.col {
    padding: 0px;
}

/* background-colors  */

.bg-color-white {
    background-color: #00302b;
}


/* nav bar  */

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #f9f9f9;
    color: #00302b;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 1.25em;
    color: #f9f9f9;
    margin: 10px;
    border-radius: 15px;
}

button.navbar-toggler {
    margin: 10px 10px 10px auto;
    color: white;
}

.toggler-bg {
    background-color: rgba(0, 48, 43, 0.9);
}

/* hero section  */

.hero-bg {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 48, 43, 0.2),rgb(0, 48, 43)), url(../images/lineout.jpg) top center no-repeat;
    background-size: cover;
    position: relative;
}

.hero-callout {
    color: #f9f9f9;
    text-align: right;  
    padding: 0;
    display: flex;
    align-items: center;
    height: 80vh;
}

.hero-callout h3 {
    font-family: 'Kalam', cursive;
}

@media screen and (min-width: 820px) {
    .hero-callout h1 {
        font-size: 5em;
    }
    .hero-callout h2 {
        font-size: 3.5em;
    }
    .hero-callout h3 {
    font-size: 2.25em;
}
}

@media screen and (max-width: 450px) {
    .hero-bg {
        background-position: calc(50% - 50px) 50%;
    }
}

/* country selector section  */

.country-selection {
    background: none;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.country-btn-container {
    padding: 5px;
}

.country-btn {
    width: 95%;
    height: 90px;
    border: none;
    background: rgb(249,249,249);
    background: linear-gradient(150deg, rgba(249,249,249,1) 28%, rgba(65,64,66,1) 100%);
    border-radius: 20px;
    position: relative;
    max-width: 215px;
    font-weight: 800;
    font-size: 20px;
    color: #00302b;
}

.flag {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: 0.3s linear;
}

.country-btn:focus {
   outline: none;
}

@media screen and (max-width: 768px) {
    .country-selection {
    padding: 5px;
}
    .country-btn {
    font-size: 15px;
    }
}

/* country information  */

#country-info-container {
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}

.information-table {
    font-size: 15px;
}

table td {
    vertical-align: top;
}

table td a {
    color: #f9f9f9;
}

table td a:hover {
    color: #f9f9f9;
    opacity: 0.5;
    text-decoration: none;
}

.travel-link {
    color: #f9f9f9;
    font-weight: 500;
}

.travel-link:hover {
    color: #f9f9f9;
    opacity: 0.5;
    text-decoration: none;
}

.small-btn {
    background: rgb(249,249,249);
    background: linear-gradient(150deg, rgba(249,249,249,1) 28%, rgba(65,64,66,1) 100%);
    border: none;
    border-radius: 15px;
    display: block;
    width: 33%;
    min-width: 200px;
    margin: 20px auto;
    padding: 10px 0px;
    font-weight: 800;
    font-size: 100%;
}

.btn-hover:hover {
    color: rgba(0, 48, 43, 0.5);
}

.small-btn a {
    font-weight: 800;
    color: #00302b;
    text-decoration: none;
}

@media screen and (min-width: 800px) {
    .small-btn {
        display: inline;
        margin-top: 20px;
        margin-right: 10px;
    }
    .information-table {
        font-size: 25px;
    }
}

/* map and hospitality selectors  */

#map {
    height: 375px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#map-container h3 {
    margin: 30px 10px;
    display: block;
}

.hospitality-selectors{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.selector {
    width: 75px;
    border: none;
    border-radius: 15px;
    display: inline-block;
    margin: 0px 5px;
    padding: 10px 0px;
    font-size: 30px;
    color: #ea4336;
    background: rgb(249,249,249);
    background: linear-gradient(150deg, rgba(249,249,249,1) 28%, rgba(65,64,66,1) 100%);
}

.fa-beer {
    margin-left: 3px;
}

.selector:hover {
    color: rgba(0, 48, 43, 0.5);
}

@media screen and (min-width: 768px) {
    #map {
    width: 50vw;
    }
}

/* fact section  */

.stadium-bg {
    /* min-height: 100vh; */
    width: 100%;
    background: linear-gradient(rgb(0, 48, 43), rgba(0, 48, 43, 0.2)), url(../images/aviva-stadium.jpg) center center no-repeat;
    background-size: cover;
}

.fact-container {
    border: 3px solid #f9f9f9;
    border-radius: 25px;
    margin: 120px auto;
    width: 275px;
    height: 520px;
}

.fact-container h1 {
    margin: 15px;
}

.fact-container p {
    margin: 20px;
    font-size: 23px;
    font-family: 'Kalam', cursive;
}

.fact-paragraph {
    height: 60%;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 540px) {
    .fact-container {
        width: 480px;
        height: 240px;
    }
}

@media screen and (min-width: 1024px) {
    .fact-container {
        width: 650px;
        height: 270px;
    }

    .fact-container p {
        font-size: 28px;
    }
}

/* footer  */

footer {
    padding: 20px 30px;
    background-color: rgba(0, 48, 43, 0.7);
}

.newsletter {
    margin: 20px 0px;
}

.signup input, 
.signup select {
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 0px 15px;
    margin: 15px auto;
    width: 66%;
    display: block;
    height: 30px;
    color: #00302b;
}

.submit-btn {
    background: rgb(249,249,249);
    background: linear-gradient(150deg, rgba(249,249,249,1) 28%, rgba(65,64,66,1) 100%);
    color: #00302b;
    font-weight: 800;
}

.submit-btn:hover {
    color: rgba(0, 48, 43, 0.5);
}

.fa-check-circle {
    font-size: 125%;   
}

.social-container {
    margin: 20px 0px;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.social-icon {
    width: 60px;
    background-color: #f9f9f9;
    border-radius: 50px;
}

.socials a {
    font-size: 2.5em;
    color: #00302b;
}


.socials a:hover {
    color: rgba(0, 48, 43, 0.5);
}


@media screen and (min-width: 768px) {
    .signup input, 
    .signup select {
        border-radius: 15px;
        border: none;
        outline: none;
        padding: 0px 15px;
        margin-bottom: 5px;
        width: 33%;
        display: inline;
        height: 30px;
    }
}

