@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Colors  
white - #f9f9f9
Dark Green - #00302b
*/

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}


.container-fluid {
    padding: 0;
    margin: 0;
}

/* background-colors  */

.bg-color-white {
    background-color: #000;
}

/* nav bar  */

.navbar {
    position: absolute;
    top: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #f9f9f9;
    color: #00302b;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 1.5em;
    color: #f9f9f9;
    margin-top: 10px;
    margin-right: 25px;
    padding: 5px 15px;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    li.nav-item {
        background-color: rgb(0, 48, 43);
        z-index: 2;
    }
}

/* hero section  */

.hero-container {
    height: 90vh;
    width: 100%;
    background: linear-gradient(rgba(0, 48, 43, 0.2),rgb(0, 48, 43)), url(../images/lineout-tinyjpg.jpg) top center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-callout {
    color: #f9f9f9;
    text-align: right;  
    padding: 0;
}

.hero-callout h1 {
    font-size: 3.25em;
}

.hero-callout h2 {
    font-size: 2em;
}

@media screen and (min-width: 768px) {
    .hero-callout h1 {
        font-size: 5em;
    }
    .hero-callout h2 {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 450px) {
    .hero-container {
        background-position: calc(50% - 50px) 50%;
    }
}

/* country selector section  */
.countries {
    background-color: #00302b;
    padding: 15px;
}

.country-btn-container {
    padding: 5px;
}

.country-btn {
    width: 100%;
    height: 90px;
    border: none;
    background: rgb(249,249,249);
    background: linear-gradient(150deg, rgba(249,249,249,1) 28%, rgba(65,64,66,1) 100%);
    border-radius: 20px;
    position: relative;
    max-width: 215px;
    font-weight: 800;
    font-size: 20px;
    color: #00302b;
}

.flag {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0;
    transition: 0.3s linear;
}

.flag:hover {
    opacity: 1;
}

.country-btn-active {
    opacity: 1;
    box-shadow: 0px 0px 10px 10px rgba(249,249,249,0.5);
    transition: 0s;
}

.country-btn:focus {
   outline: none;
}

@media screen and (max-width: 450px) {
    .country-btn {
    font-size: 15px;
    }
}

/* country information  */
.information-container {
    color: #f9f9f9;
}

.england {
    margin: 30px;
}

.eng-table td {
    vertical-align: top;
}

tr td:nth-child(2) {
    padding-left: 15px;
}

tr th:nth-child(2) {
    padding-left: 15px;
}

.small-btn {
    background: rgb(249,249,249);
    background: linear-gradient(150deg, rgba(249,249,249,1) 28%, rgba(65,64,66,1) 100%);
    border: none;
    border-radius: 15px;
    display: block;
    padding: 0px 15px;
    height: 45px;
    margin: 10px auto;
    font-weight: 800;
    font-size: 100%;
    color: #00302b;
}

.small-btn a {
    font-weight: 800;
    font-size: 100%;
    color: #00302b;
}

@media screen and (min-width: 768px) {
    .small-btn {
    display: inline;
    margin: 10px;
    }
}

/* flights popup */

.flights-popup {
    /* width: 50%; */
    /* position: fixed; */
    display: block;
    left: 25%;
    top: 10%;
    /* background-color: black; */
}

.skyscanner-widget {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}

