@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Colors  
white - #f9f9f9
Dark Green - #00302b
*/

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1.5px;
}

.row {
    margin: 0;
    padding: 0;
}

.col {
    margin: 0;
    padding: 0;
}

/* background-colors  */

.bg-color-white {
    background-color: #000;
}

/* nav bar  */

.navbar {
    background-color: none;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #f9f9f9;
    color: #00302b;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 1.5em;
    color: #f9f9f9;
    margin-top: 10px;
    margin-right: 25px;
    padding: 5px 15px;
    border-radius: 15px;
}

/* hero section  */

.hero-container {
    height: 700px;
    background: linear-gradient(rgba(3, 71, 66, 0.2),rgba(1, 41, 38, 1)), url(../images/lineout-tinyjpg.jpg) top center no-repeat;
    background-size: cover;
}

.hero-callout {
    margin-top: 15%;
}

.hero-callout h1 {
    color: #f9f9f9;
    font-size: 5em;
    text-align: right;
    margin-left: 15%;
    margin-right: 5%;
}
.hero-callout h2 {
    color: #f9f9f9;
    font-size: 3.5em;
    text-align: right;
    margin-left: 25%;
    margin-right: 5%;
}

@media screen and (max-width: 768px) {
    .hero-callout {
        font-size: 2em;
        text-align: left;
    }
    .hero-container {
        background-position: calc(50% - 50px) 50%;
    }

}
