@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Colors  
Cream - #f9f9f9
Dark Green - #00302b
*/

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Rubik', sans-serif;
}

.row {
    margin: 0;
    padding: 0;
}

.col {
    margin: 0;
    padding: 0;
}

/* background-colors  */

.bg-color-white {
    background-color: #000;
}

/* nav bar  */

.navbar {
    background-color: none;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 1.5em;
    color: #f9f9f9;
    margin-right: 30px;
}

/* hero section  */

.hero-container {
    height: 90vh;
    background: linear-gradient(rgba(3, 71, 66, 0.2),rgba(1, 41, 38, 1)), url(../images/lineout.jpg) top center no-repeat;
    background-size: cover;
}

.hero-callout {
    margin-top: 10%;
}

.hero-callout h1 {
    color: #f9f9f9;
    font-size: 4em;
    width: 75%;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .hero-callout h1 {
        font-size: 2em;
        text-align: left;
        width: 60%;
    }
}
